.big-icon {
    font-size: 1.5em;
}

img {
    max-height: 36px;
}

.title {
    padding: 5px;
}

.title > button:last-child {
    visibility: hidden;
}

#search {
    margin: 10px 0 10px 0;
}

#search > div {
    padding: 5px;
}

.action-paragraph > span{
    padding: 5px;
}

.action-paragraph:not(:last-child){
    border-bottom: 1px solid var(--gray);
}

section:not(:last-child){
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

#menuOptions {
    height: 100%;
}

#menuOptions > *:not(:first-child) {
    padding: 5px;
}

#menuOptions img {
    cursor: pointer;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

#menuOptions button {
    width: 100%;
}

#optionsMenuButton, #optionsMenuButton * {
    --color: var(--green);
    --button-background-color: white;
}

.title i::before {
    font-weight: bold;
    font-size: 1.5em;
}

#search-input {
    position: relative;
}

#search-input > i {
    position: absolute;
    padding: 6px 0px;
    color: var(--dark-gray);
    right: 1em;
    cursor: pointer;
}

#search-input > i + input {
    padding-right: calc(var(--input-left-right-padding) * 3 + 1px);
}