.big-icon {
    font-size: 1.5em;
}

img {
    max-height: 36px;
}

.title {
    padding: 5px;
}

.title > button:last-child {
    visibility: hidden;
}

#search {
    margin: 10px 0 10px 0;
}

#search > div {
    padding: 5px;
}

.action-paragraph > span{
    padding: 5px;
}

.action-paragraph:not(:last-child){
    border-bottom: 1px solid var(--gray);
}

section:not(:last-child){
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

#menuOptions > * {
    margin: 5px 0;
}

#menuOptions img {
    cursor: pointer;
}

#optionsMenuButton, #optionsMenuButton * {
    --color: var(--green);
    --button-background-color: white;
}

.title i::before {
    font-weight: bold;
    font-size: 1.5em;
}

.side-menu-inner-container{
    max-width: var(--body-width);
    background-color: green;
}