<header>
  <div class='grid h-between title'>
    <button (click)='optionsMenu.show()' title='{{ "options" | i18n }}' class='icon' id='optionsMenuButton'>
      <i class='fa fa-bars'></i>
    </button>
    <img src='assets/oppi.svg'>
    <button class='icon'>
      <i class='fa fa-bars'></i>
    </button>
  </div>
  <div class='grid' id='search'>
    <div class='grow-1' id='search-input'>
      <i class='fa fa-close' *ngIf='wordToSearch' (click)='wordToSearch = ""; searchInput.focus(); searchWord()'></i>
      <input [(ngModel)]='wordToSearch'
        #searchInput
        (keydown)='$event.key == "Enter" ? searchWord(!$event.ctrlKey) : null'
        placeholder='{{ "word" | i18n }}'/>
    </div>
    <div>
      <button (click)='searchWord(true)' title='{{ "test" | i18n }}' class='icon'>
        <i class='fa fa-file-text-o'></i>
      </button>
      <button (click)='getRandomWord()' title='{{ "randomWord" | i18n }}' class='icon'>
        <i class='fa fa-random'></i>
      </button>
      <button (click)='searchWord()' title='{{ "search" | i18n }}' class='icon'>
        <i class='fa fa-search'></i>
      </button>
    </div>
  </div>
</header>
<div>
  <div *ngIf='wrongWord'>
    {{ 'wordNotFound' | i18n: wrongWord }}
  </div>
  <router-outlet></router-outlet>
</div>
<side-menu #optionsMenu>
  <div id='menuOptions' class='grid vertical'>
    <div>
      <img [src]='"assets/" + banners[currentBanner] + ".svg"' (click)='clickBanner($event)'>
    </div>
    <div class='grow-1'>
      <label for='langSelect' title='{{ "language" | i18n }}'><i class='fa fa-language'></i>&nbsp;{{ 'language' | i18n }}</label>
      <select id='langSelect' [(ngModel)]='currentLanguageKey' (change)='changeLanguage()'>
        <option *ngFor='let lang of languageKeys' value='{{lang}}'>{{languages[lang]}}</option>
      </select>
    </div>
    <div>
      <button (click)='help()' title='{{ "help" | i18n }}' class='icon'>
        <i class='fa fa-question-circle'></i>&nbsp;{{ 'help' | i18n }}
      </button>
    </div>
  </div>
</side-menu>
<modal #helpModal>
    <modal-header>{{ 'Help' | i18n }}</modal-header>
    <modal-body>
      <section>
        <h4>
          {{ 'actions' | i18n }}
        </h4>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "test" | i18n }}' class='icon'>
              <i class='fa fa-file-text-o'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'test' | i18n }}: </i>{{ 'helpTest' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "randomWord" | i18n }}' class='icon'>
              <i class='fa fa-random'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'randomWord' | i18n }}: </i>{{ 'helpRandomWord' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "search" | i18n }}' class='icon'>
              <i class='fa fa-search'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'search' | i18n }}: </i>{{ 'helpSearch' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "reset" | i18n }}' class='icon'>
                <i class='fa fa-repeat'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'reset' | i18n }}: </i>{{ 'helpReset' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "check" | i18n }}' class='icon'>
              <i class='fa fa-check-square-o'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'check' | i18n }}: </i>{{ 'helpCheck' | i18n }}
          </span>
        </p>
      </section>
      <section>
        <h4>
            {{ 'aboutFinnishDeclension' | i18n }}
        </h4>
        <p class='grid'>
          <span>
            {{ 'onlyRegularAndNotNuoripari' | i18n }}
          </span>
        </p>
      </section>
    </modal-body>
</modal>
