<h2 class='grid'>
    {{'declineNominals' | i18n }}
    <i class='fa fa-question-circle clickable-icon' (click)='help()' title='{{ "declineNominalsHelp" | i18n }}'></i>
</h2>
<modal #helpModal>
    <modal-header>{{ 'declineNominalsHelp' | i18n }}</modal-header>
    <modal-body>
        <p class='grid'>
          <span>
            {{ 'onlyRegularAndNotNuoripari' | i18n }}
          </span>
        </p>
        <p class='grid'>
          <span>
            {{ 'actions' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "test" | i18n }}' class='icon'>
              <i class='fa fa-file-text-o'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'test' | i18n }}: </i>{{ 'helpTest' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "randomWord" | i18n }}' class='icon'>
              <i class='fa fa-random'></i>&nbsp;<i class='fa fa-file-text-o'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'randomWord' | i18n }}: </i>{{ 'helpRandomWord' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "search" | i18n }}' class='icon'>
              <i class='fa fa-search'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'search' | i18n }}: </i>{{ 'helpSearch' | i18n }}
          </span>
        </p>
        <p class='grid no-wrap v-center action-paragraph'>
          <span>
            <button title='{{ "check" | i18n }}' class='icon'>
              <i class='fa fa-check-square-o'></i>
            </button>
          </span>
          <span>
            <i>- {{ 'check' | i18n }}: </i>{{ 'helpCheck' | i18n }}
          </span>
        </p>
    </modal-body>
</modal>
<div class='grid' id='searchDeclesion'>
  <div class='f-3-8'>
    <input [(ngModel)]='wordToSearch'
      (keydown)='$event.key == "Enter" ? searchWord(wordToSearch, !$event.ctrlKey) : null'
      placeholder='{{ "word" | i18n }}'/>
  </div>
  <div class='f-5-8 grid h-between'>
    <div>
      <button (click)='searchWord(wordToSearch, true)' title='{{ "test" | i18n }}' class='icon'>
        <i class='fa fa-file-text-o'></i>
      </button>
      <button (click)='getRandomWord()' title='{{ "randomWord" | i18n }}' class='icon'>
        <i class='fa fa-random'></i>&nbsp;<i class='fa fa-file-text-o'></i>
      </button>
      <button (click)='searchWord(wordToSearch)' title='{{ "search" | i18n }}' class='icon'>
        <i class='fa fa-search'></i>
      </button>
    </div>
    <div>
        <button *ngIf='test' (click)='check()' title='{{ "check" | i18n }}' class='icon'>
          <i class='fa fa-check-square-o'></i>
        </button>
    </div>
  </div>
</div>
<div *ngIf='loading'>
  <loading></loading>
</div>
<div *ngIf='!error'>
  <div *ngIf='test'>
    <h3>{{word}}</h3>
    <table>
      <thead>
        <tr class='grid'>
          <th *ngFor='let number of numbers' class='f-1-2'>
            {{ number | i18n }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let case of cases' class='grid'>
          <td *ngFor='let number of numbers' class='f-1-2'>
            <div *ngIf='(number == "singular" && case != "instructive" && case != "comitative") || (number == "plural" && case != "genitiveAccusative")'>
              <input [(ngModel)]='declesionToCheck[number][case]'
                [ngClass]='(declesionErrors && declesionErrors[number] && declesionErrors[number][case] == true ? "red" : "") + (declesionErrors && declesionErrors[number] && declesionErrors[number][case] == false ? "green" : "")'
                (keydown)='$event.key == "Enter" ? check(number, case) : null'
                tabindex='{{number == "singular" ? 1 : 2}}'
                placeholder='{{ case | i18n }}'/>
            </div>
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf='!test'>
    <table *ngFor='let declesion of declesions'>
      <thead class='search'>
        <tr class='grid'>
          <th class='f-2-8'></th>
          <th *ngFor='let number of numbers' class='f-3-8'>
            {{ number | i18n }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let case of cases' class='grid'>
          <th class='f-2-8'>
            {{ case | i18n }}
          </th>
          <td *ngFor='let number of numbers' class='f-3-8'>
            <div *ngFor='let case of declesion[number][case]'>
              <div>{{case}}</div>
            </div>
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf='error'>
  <div *ngIf='error.errorCode == 0'>
      {{ 'wordNotFound' | i18n: word }}
  </div>
</div>