/* You can add global styles to this file, and also import other style files */
@import './app/module/ui/css/ui.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

* {
    --red: #FD797C;
    --light-red: #FFE6E6;
    --green: #6EDA68;
    --medium-green: #ADF1A9;
    --light-green: #E5FDE4;
    --blue: #5E7FC6;
    --body-width: 600px;
}

p {
    text-align: justify;
    text-indent: 2em;
}

html {
    height: 100%;
}

body {
    padding: 5px;
    max-width: var(--body-width);
    margin: 0 auto;
    height: 100%;
}

button, select, button *, select *  {
    --color: white;
    --button-background-color: var(--green);
    --button-before-color: white;
    font-weight: bold;
}

button:disabled, button:disabled * {
    --button-background-color: var(--light-green);
}

table {
    --thead-background-color: var(--light-green);
}

modal * {
    --modal-width: var(--body-width);
    --modal-header-footer-background-color: var(--light-green);
}

input.red {
    --input-border-color: var(--red);
    --input-background-color: var(--light-red);
}

input.red::placeholder{
    --placeholder-color: var(--red);
}

input.green {
    --input-border-color: var(--green);
    --input-background-color: var(--light-green);
}

input {
    width: 100%;
}

table:not(:last-child){
    margin-bottom: 10px;
}

th {
    text-align: center;
}

tr, th {
    word-wrap: break-word;
}

a, a * {
    --a-color: var(--blue);
}

.side-menu-inner-container{
    max-width: var(--body-width);
}

menu {
    --side-menu-width: 250px;
    padding: 0 !important;
}